@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  background-color: black;
}

h1 {
  font-family: "Canopee";
}
h2 {
  font-family: "Soda Cream";
}
h3 {
  font-family: "Montserrat";
}

.list {
  min-height: 45vh;
}

.form {
  height: 7vh;
  width: 50vw;
}

.header {
  height: 25vh;
}

.status {
  height: 5vh;
}
input {
  color: white;
}
